<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Interactive-test-page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Indie+Flower' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/business-casual.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper ttle mb-3">Memory Tracker</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">MEMORY TRACKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="interact.html">Interact</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="generate.html">Generate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section about-heading">
      <div class="container" ng-app="memory" ng-controller="myCtrl">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <!--images/ -->
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" ng-src="{{imageUrl}}" alt="" >
                <p class="section-heading mb-4">
                  <span class="section-heading-lower">{{question}}</span>
		</p>
		<div id="grid">
		  <div>
		    <p>
                      <input type="radio" name="radio-choice" id="radio-choice-1" ng-model="changedVal" ng-click="getVal()" value="{{answers[0]}}" />
                      <label for="radio-choice-1">{{answers[0]}}</label>
                    </p>
                    <p>
                      <input type="radio" name="radio-choice" id="radio-choice-2" ng-model="changedVal" ng-click="getVal()" value="{{answers[1]}}" />
                      <label for="radio-choice-2">{{answers[1]}}</label>
                    </p>
                    <p>
                      <input type="radio" name="radio-choice" id="radio-choice-3" ng-model="changedVal" ng-click="getVal()" value="{{answers[2]}}" />
                      <label for="radio-choice-3">{{answers[2]}}</label>
                    </p>
            <p>
                      <input type="radio" name="radio-choice" id="radio-choice-4" ng-model="changedVal" ng-click="getVal()" value="{{answers[3]}}" />
                      <label for="radio-choice-4">{{answers[3]}}</label>
                    </p>
		  </div>
		  <div>
		    <div class="text-center score-font">Score: {{currentScore}}</div>
		    <div class="text-center score-font" ng-show="isDispFeedback"><strong class="alert alert-warning">{{feedback}}</strong></div>
		  </div>
		</div>

                <div class="text-center">
		  <button type="button" ng-click="getNextQuestion(choice)">Next Question</button>
                </div>
	      </div>
	    </div>
          </div>
        </div>
      </div>
</div>
</div>
</section>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

<!-- Doing some script stuff -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<script>
  $(document).ready(function() {

  $('#uploadForm').submit(function() {
  $("#status").empty().text("File is uploading...");

  $(this).ajaxSubmit({

  error: function(xhr) {
  status('Error: ' + xhr.status);
  },

  success: function(response) {
  console.log(response)
  $("#status").empty().text(response);
  }
  });

  return false;
  });
  });
</script>

<script src="javascripts/ng-interact.js"></script>
</html>
